.gameScore {
    text-align: center;
    height: 70px;
    position: relative;
    line-height: 1em;
    padding: 0;
    margin: 0;
  }
  div.gameScore {
  
  }
  
  h3.score {
    margin-top: 5px;
    padding: 0;
    font-weight: 600;
    color: white;
  }
  h3.status{
    margin: 0;
    padding: 0;
    color: rgb(254, 1, 1);
    background-color: aliceblue;
    animation: opacity 2s ease-in-out infinite;
    opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}

  