  
  .img-container {
      margin-top: 10px;
      border: 2px solid rgb(170, 170, 181);
      box-shadow: 0 6px 6px rgb(116, 113, 113), 0 3px 6px rgb(50, 45, 45);
      width: 340px;
      /* height: 100px; */

      
  }

